# Rewrite starts here
RewriteEngine on

# Doesnt apply to existing directing 
RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in dir
RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]