@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

/* UNIVERSAL */
:root {
    --text: rgb(0, 0, 0);
    --bg: #ffffff;
    --acc: rgb(218, 0, 0);
    --sec: rgb(255, 117, 4);
    --s-bg: rgb(236, 236, 236);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "sans-serif";
    font-size: 3vh;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--acc);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(231, 104, 0);
    color: var(--text);
    cursor: pointer;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 2vh;
    padding: 1vw 2vw;
    width: 30vw;
    height: 7vh;
    border: 0;
    margin-top: 3vh;
    border-radius: 100px;
}

.hero-btn:hover {
    transition: 1s;
    transform: scale(1.1);
}

.scroll-btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: var(--bg);
    cursor: pointer;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 9vh;
    font-weight: 600;
    padding: 0 2vw;
    height: 7vh;
    border: 0;
    margin-top: 0;
    border-radius: 1vw;
}

.scroll-btn:hover {
    transition: 1s;
    border-radius: 0px;
    color: var(--sec);
    transform: scale(1.1);
}

.ctn-btn {
    display: block;
    text-decoration: none;
    background-color: var(--sec);
    color: var(--text);
    cursor: pointer;
    position: relative;
    font-size: 2vh;
    font-weight: 600;
    padding: 1vw 2vw;
    width: 35vw;
    height: 7vh;
    border: 0;
    margin-top: 3vh;
    margin: 0 auto;
    border-radius: 10px;
}

.ctn-btn:hover {
    transition: 1s;
    transform: scale(1.1);
}

.ctn-sec {
    display: inline-block;
    text-decoration: none;
    background-color: var(--bg);
    color: var(--sec);
    cursor: pointer;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 2vh;
    font-weight: 600;
    padding: 1vw 2vw;
    width: 15vw;
    height: 7vh;
    border: 0.2vw var(--acc) solid;
    margin-top: 3vh;
    border-radius: 1vw;
}

.ctn-sec:hover {
    transition: 1s;
    border-radius: 0px;
    transform: scale(1.1);
    color: var(--text);
    background-color: var(--sec);

}

/* NAVBAR */
nav {
    background: var(--bg);
    color: var(--text);
    height: 7vh;
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    padding: 0 3vw;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}

.nav-wrapper a img {
    height: 5vh;
    padding: 1vh 0 0 0;
}

.nav-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
}

.nav-links ul li {
    text-decoration: none;
    display: inline-block;
    margin: 0vh 3vw 1vh 0;
    position: relative;
}

.nav-links ul li a {
    color: var(--text);
    text-decoration: none;
    font-size: 0.5em;
}


.nav-links ul li a:hover {
    color: var(--acc);
    transition: .5s;
}

#current-page {
    background: linear-gradient(45deg, rgb(218, 0, 0), rgb(231, 104, 0));
    padding-top: 4vh;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

nav .fa {
    display: none;
}

/* HEADER */
header {
    height: 50vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(136, 1, 1), rgb(86, 31, 1));
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43vh;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.header-wrapper h1 {
    color: var(--bg);
}

.header-wrapper img {
    width: 30%;
    padding: 0;
}

.desktop-home-chips {
    display: inline-block;
    width: 90vw;
    height: auto;
}

.mobile-home-chips {
    display: none;
}

/* SECONDARY HEADER */
.sec-head {
    height: 30vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(136, 1, 1), rgb(86, 31, 1));
    background-position: center;
    background-size: cover;
    position: relative;
    color: var(--bg);
}

.sec-head h1 {
    text-align: center;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY;
    transform: translateY(-50%);
}

#imp-img {
    width: 25%;
    height: auto;
    padding: 2vh 2vw;
}


/* SLIDESHOW */
/* Slideshow container */
.slideshow-container {
    width: 25vw;
    position: relative;
    margin: auto;
    padding: 2vh 5vw;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 2vw;
    margin-top: -1vw;
    padding: 1vw;
    color: var(--sec);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.prev,
.next {
    background-color: var(--text);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--sec);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* PRDOUCTS */
.prod-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 5vw;
}

.prod-header h1 {
    padding-bottom: 2vh;
}


.prod-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1em;
    margin: 1em 1.5em 4em 1.5em;
    justify-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    padding: 0.6em;
    height: 30vh;
    width: 20vw;
    outline: 0.13em var(--acc) solid;
    margin: 1em 0;
    border-radius: 50px;
    background: var(--bg);
    justify-content: center;
    align-items: center;
}

.product:hover {
    background: var(--sec);
    transition: 1.5s;
    color: var(--bg) !important;
}


.product:hover p {
    color: var(--bg) !important;
    transition: 1.5s;
}

.product p {
    text-align: center;
    color: var(--text);
    font-size: 1em;
}

.product img {
    height: 20vh;
    width: auto;
    display: block;
    margin: auto;
}


.chips-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chips-wrapper h1 {
    color: var(--bg);
}

.chips-wrapper img {
    height: 2em;
    width: auto;
    padding: 2vh 2vw;
}


.desktop-chips {
    display: inline-block;
    width: 90vw;
    height: auto;
}

.mobile-chips {
    display: none;
}

.chips {
    display: flex;
    padding: 3vh 5vw;
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 7em auto;
    padding: 2em;
    background: var(--bg);
    border-radius: 5px;
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 5s ease-in-out;
}

.popup img {
    width: auto;
    height: 20vh;
}

.popup h2 {
    margin-top: 0;
    color: var(--text);
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
}

.popup .close:hover {
    color: var(--sec);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chips-image {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
}

.chips-image img {
    width: 30vw;
}

.chips-info {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2vh 2vw;
}

.chips-info p {
    text-align: left;
}

/* HOME PAGE */
.home-sect {
    width: 90vw;
    height: auto;
    padding: 8vh 0vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-sect h1 {
    text-align: center;
}

.home-sub-sect {
    display: flex;
    padding: 2vh 0vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-sub-sect img {
    width: 70vw;
}

#small-packets {
    width: 57vw;
}

.home-sub-sect p {
    padding: 2vh 0vw 2vh 2vw;
    text-align: center;
}

.home-poster-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-poster-sect img {
    width: 60vw;
    padding-bottom: 10vh;
}

.home-poster-sect button {
    margin-bottom: 5vh;
}

/* ABOUT PAGE */
.about-sect {
    width: 90vw;
    height: auto;
    padding: 8vh 0vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-sub-sect {
    display: flex;
    flex-direction: row;
    padding: 2vh 0vw 2vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-sub-sect img {
    width: 40vw;
}

.about-sub-sect p {
    padding: 2vh 2vw 2vh 2vw;
    text-align: center;
}

/* CONTACT PAGE */
.location {
    width: 80%;
    margin: auto;
    padding: 10vh 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: start;
    flex-direction: row;
}

.contact-col {
    width: 40vw;
    margin-bottom: 3vh;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 6vh;
}

.contact-col div .fa {
    font-size: 3vw;
    color: var(--acc);
    margin: 1vh 3vw 1vh 1vw;
}

.contact-col div p {
    padding: 0;
    text-align: left;
}

.contact-col div h5 {
    font-size: 3vh;
    text-align: left;
    margin-bottom: 1vh;
    color: var(--text);
}

.contact-col input,
textarea {
    width: 100%;
    padding: 0;
    margin-bottom: 1.5vh;
    outline: none;
    padding: 1vh;
    font-size: 2vh;
    border: 0.3vh solid var(--acc);
    border-radius: 10px;
    box-sizing: border-box;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7vh;
    background: var(--bg);
    color: var(--text);

}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1vh 0 1vh 0;
    width: 80vw;

}

.foot-dig p {
    font-size: 0.75em;
    padding: 0;
}

.foot-dig p a {
    font-size: 1em;
}

.foot-co {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.foot-co p {
    font-size: 0.75em;
}


@media (max-width: 700px) {

    /* UNIVERSAL */
    * {
        margin: 0;
        padding: 0;
        font-family: "Noto Sans", "sans-serif";
        font-size: 3vh;
    }

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    button {
        font-family: "Roboto", sans-serif;
        font-size: 8vw;
    }

    a {
        text-decoration: none;
        color: var(--acc);
    }

    .hero-btn {
        display: inline-block;
        text-decoration: none;
        background-color: rgb(231, 104, 0);
        color: var(--text);
        cursor: pointer;
        position: relative;
        font-family: "Roboto", sans-serif;
        font-size: 2vh;
        padding: 1vw 2vw;
        width: 50vw;
        height: 7vh;
        border: 0;
        margin-top: 3vh;
        border-radius: 100px;
    }

    .hero-btn:hover {
        transition: 1s;
        transform: scale(1.1);
    }


    .ctn-sec {
        display: inline-block;
        text-decoration: none;
        background-color: var(--bg);
        color: var(--sec);
        cursor: pointer;
        position: relative;
        font-family: "Roboto", sans-serif;
        font-size: 2vh;
        font-weight: 600;
        padding: 1vw 2vw;
        width: 30vw;
        height: 7vh;
        border: 0.5vw var(--acc) solid;
        margin: 3vh 0;
        border-radius: 1vw;
    }

    .ctn-sec:hover {
        transition: 1s;
        border-radius: 0px;
        transform: scale(1.1);
        color: var(--text);
        background-color: var(--sec);

    }

    #current-page {
        background: linear-gradient(45deg, rgb(218, 0, 0), rgb(231, 104, 0));
        padding-top: 4vh;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    nav .fa {
        display: none;
    }


    /* NAVBAR */
    nav {
        background: var(--bg);
        color: var(--text);
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-wrapper {
        display: flex;
        padding: 0 3vw;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
    }

    .nav-wrapper a img {
        height: 7vh;
        padding: 1vh 0 0 0;
    }


    nav .fa-bars {
        display: block;
        color: var(--text);
        margin: 1vh;
        font-size: 4vh;
        cursor: pointer;
    }

    nav .fa-times {
        display: block;
        color: var(--text);
        font-size: 4vh;
        cursor: pointer;
        text-align: center;
        padding: 4em 0 2em 0;
    }

    #current-page {
        color: var(--sec);
    }

    .nav-links ul li {
        display: block;
        margin-top: 0;
        font-size: 2em;
        text-decoration: none;
        margin: 0vh 3vw 1vh 0;
        position: relative;
    }

    .nav-links ul li a {
        color: var(--text);
    }

    .nav-links {
        position: fixed;
        background: var(--bg);
        height: 100vh;
        width: 60vw;
        top: 0;
        right: -60vw;
        text-align: left;
        z-index: 10;
        transition: 0.6s;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        text-align: left;
    }

    .nav-links ul li a:hover {
        color: var(--sec);
        transition: .5s;
    }

    /*HOME PAGE */
    .home-sect {
        width: 90vw;
        height: auto;
        padding: 6vh 0vw 2vh 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .home-sub-sect {
        display: flex;
        flex-direction: row;
        padding: 2vh 0vw 2vh 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .home-sub-sect img {
        width: 70vw;
    }

    .home-sub-sect p {
        padding: 5vh 0vw 0 2vw;
        text-align: center;
    }

    .mobile-home-chips {
        display: inline-block;
        width: 90vw;
        height: auto;
    }

    .desktop-home-chips {
        display: none;
    }

    .home-poster-sect img {
        width: 90vw;
        padding-bottom: 1vh;
    }

    .header-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 43vh;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: auto;
        margin: auto;
    }

    .header-wrapper h1 {
        color: var(--bg);
        font-size: 1em;
    }

    .header-wrapper img {
        width: 50%;
        padding: 0;
    }

    .mobile-chips {
        display: inline-block;
        width: 90vw;
        height: auto;
    }

    .desktop-chips {
        display: none;
    }

    /* SLIDESHOW */
    /* Slideshow container */

    .slideshow-container {
        width: 60vw;
        position: relative;
        margin: auto;
        padding: 2vh 5vw;
        border-radius: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -1vw;
        padding: 1vw;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev,
    .next {
        background-color: var(--text);
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: var(--sec);
    }


    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    /* PRODUCT PAGE*/
    .prod-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10vh 5vw;
    }

    .prod-header h1 {
        padding-bottom: 2vh;
    }


    .product {
        display: flex;
        flex-direction: column;
        padding: 0.6em;
        height: 30vh;
        width: 15vw;
        outline: 0.1em var(--acc) solid;
        margin: 1em 0;
        border-radius: 30px;
        background: var(--bg);
        justify-content: space-around;
        align-items: center;
    }

    .product:hover {
        background: var(--sec);
        transition: 1.5s;
        color: var(--bg) !important;
    }


    .product:hover p {
        color: var(--bg) !important;
        transition: 1.5s;
    }

    .product p {
        text-align: center;
        color: var(--text);
        font-size: 0.6em;
    }

    .product img {
        height: auto;
        width: 17vw;
        display: block;
        margin: 0 auto;
    }

    .chips-wrapper {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .chips-wrapper h1 {
        padding-top: 2em;
        color: var(--bg);
    }

    .chips-wrapper img {
        width: 50%;
        padding: 2vh 2vw;
    }

    .chips {
        display: flex;
        padding: 3vh 5vw;
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }

    .chips-image {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh 2vw;
    }

    .chips-image h1 {
        margin-bottom: 2vh;
    }

    .chips-image img {
        width: 70vw;
    }

    .chips-info {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 2vh 0vw;
    }

    .chips-info p {
        text-align: left;
        font-size: 3vh;
    }

    /* ABOUT PAGE */
    .about-sect {
        width: 90vw;
        height: auto;
        padding: 8vh 0vw 2vh 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-sub-sect {
        padding: 2vh 0vw 2vh 2vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .about-sub-sect img {
        width: 70vw;
    }

    .about-sub-sect p {
        padding: 2vh 2vw 2vh 2vw;
        text-align: center;
    }

    /* CONTACT PAGE */
    .location {
        width: 80%;
        margin: auto;
        padding: 10vh 0;
    }

    .location iframe {
        width: 100%;
    }

    .contact-us {
        width: 80vw;
        margin: auto;
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .contact-col {
        width: 80vw;
        margin-bottom: 3vh;
    }

    .contact-col div {
        display: flex;
        align-items: center;
        margin-bottom: 6vh;
    }

    .contact-col div .fa {
        font-size: 4vh;
        color: var(--acc);
        margin: 1vh 3vw 1vh 1vw;
    }

    .contact-col div p {
        padding: 0;
    }

    .contact-col div h5 {
        font-size: 3vh;
        margin-bottom: 1vh;
        color: var(--text);
    }

    .contact-col input,
    textarea {
        width: 100%;
        padding: 0;
        margin-bottom: 1.5vh;
        outline: none;
        padding: 1vh;
        font-size: 2vh;
        border: 0.3vh solid var(--acc);
        box-sizing: border-box;
    }

    /* FOOTER */
    footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        height: 10vh;
        width: 100vw;
        padding: 2vh 0 1vh 0;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 80vw;

    }

    .foot-co {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

    }

    .foot-co p {
        padding-left: 10vw;
        display: flex;
    }
}